.championship-page
    width: 100%

    h1
        text-align: center
        background-color: $main-title-color
        font-size: xx-large
        padding-top: 10px
        padding-bottom: 10px

    &__next-matches
        padding-left: 10px

        h3
            font-size: x-large
