.home-page
    width: 100%
    font-size: medium

    h1
        text-align: center 
        background-color: $main-title-color
        font-size: xx-large
        padding-top: 10px
        padding-bottom: 10px

    .last_update
        font-size: small
        color: $text-color-secondary
        font-style: italic

    &__about
        width: 80%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin: auto
        margin-top: 20px
        border-top: 2px solid $text-color-secondary

        h3
            font-size: x-large

        p
            width: 100%
