.match-line
    margin-bottom: medium
    width: 100%
    background-color: $grey
    padding: small
    display: flex

.match-line-main
    min-width: 50%
    max-width: 80%

.match-line-title
    font-size: medium
    color: $grey-white

.match-line-date
    text-decoration: underline

.match-line-body
    font-size: medium
    margin-top: small

.match-line-teams
    margin-left: medium
    margin-right: medium

.match-line-odd
    margin: x-small
    background-color: $black
    padding: x-small x-large x-small x-large

.match-line-odd-active
    background-color: $green

.match-line-secondary
    color: $yellow
    display: flex
    align-items: center
    font-size: medium
    margin-left: x-large