// Colors

$main-background-color: #383838
$text-color: white
$yellow: #fce450
$green: #326f52
$dark-grey: #494949
$grey: #585858
$black: #383838
$grey-white: #c7c7c7
$white: white

// Others

$menu-width: 120px