// Colors

$main-background-color: #383838
$nav-background-color: #326f52
$text-color: white

// Update name below
$yellow: #fce450
$green: #326f52
$dark-grey: #494949
$grey: #585858
$black: #383838
$grey-white: #c7c7c7
$white: white

// Others

$nav-width: 120px