nav {
    background: var(--green);
    padding: var(--margin-xsm);
    width: var(--menu-width);

    display: flex;
    flex-direction: column;
}

.menu_champ_link {
    margin-top: var(--margin-sm);
    color: var(--white);
    text-decoration: none;
}

.menu_home_link {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-lg);
    text-align: center;
    color: var(--white);
    text-decoration: none;
}
