.refresh {
    padding: var(--margin-xsm);
    margin: var(--margin-sm);
    font-size: var(--font-sm);
    color: var(--black);
    border-radius: 5%;
    box-shadow: 1px 1px var(--grey-white);
}

.button-yellow {
    background-color: var(--yellow);
}
