.match-line {
    margin-bottom: var(--margin-md);
    width: 100%;
    background-color: var(--grey);
    padding: var(--margin-sm);
    display: flex;
}

.match-line-main {
    min-width: 50%;
    max-width: 80%;
}

.match-line-title {
    font-size: var(--font-md);
    color: var(--grey-white);
}

.match-line-date {
    text-decoration: underline;
}

.match-line-body {
    font-size: var(--font-md);
    margin-top: var(--margin-sm);
}

.match-line-teams {
    margin-left: var(--margin-md);
    margin-right: var(--margin-md);
}

.match-line-odd {
    margin: var(--margin-xsm);
    background-color: var(--black);
    padding: var(--margin-xsm) var(--margin-xlg) var(--margin-xsm) var(--margin-xlg);
}

.match-line-odd-active {
    background-color: var(--green);
}

.match-line-secondary {
    color: var(--yellow);
    display: flex;
    align-items: center;
    font-size: var(--font-md);
    margin-left: var(--margin-xlg);
}
