body {
    /* background-image: url('./assets/images/tavla.jpg'); */
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: var(--font-sm);
}

#root {
    display: flex;
    min-height: 100vh;
}

/* Variables */

:root {
    /* Colors */
    --green: #326f52;
    --white: white;
    --dark-grey: #494949;
    --grey: #585858;
    --black: #383838;
    --grey-white: #c7c7c7;
    --yellow: #fce450;

    /* Padding - Margin */
    --margin-xsm: 5px;
    --margin-sm: 10px;
    --margin-md: 15px;
    --margin-lg: 25px;
    --margin-xlg: 40px;

    /* Display */
    --menu-width: 120px;

    /* Font-size */
    --font-xsm: 14px;
    --font-sm: 18px;
    --font-md: 24px;
    --font-lg: 36px;
    --font-xlg: 52px;
}
